/* The Body ---------------------------------------------------- */

body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #d6d6f5;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Top nav---------------------------------------------------- */

.topnav {
  padding-left: 50px;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 600;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 40px;
  margin: 5px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 1px 18px;
  background-color: #99b3e6;
  transition: all 0.3s ease-out;
}

.topnav a:hover {
  background-color: #809fff;
  color: #f1f1f1;
  display: inline-block;
  transition: all 0.3s ease-out;
}


.topnav .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
    padding: 10px;
    position: absolute;
    z-index: 1000;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
   position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
  }
  .topnav.responsive a {
     float: none;
    display: block;
    text-align: left;
    padding-left: 15;
    padding-right: 15;
    margin: 2px;
    border-radius: 1px 18px;
  }
}

.topnav.responsive{
  position: fixed;
  top: 0;
  z-index: 600;
  float: right;
  display: block;
  text-align: left;
}

.fa-bars{
  display: block;
  margin: 2px;
  float: right;
}

/* The slider------------------------------------------------------------- */

#slider {
    overflow: hidden;
    max-height: 650px;
    background-color: #d6d6f5;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
    max-height: 550px;
}

#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}
/* The video-------------------------------------------- */

.iframe-container{
  max-width: 800px;
  max-height: 400px;
  padding: 5px;
  margin: 10px;
}

.wrapper{
    margin: 0 auto;
    width: 100%;
}

.videowrapper{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.videowrapper iframe{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.iframe{
  border: 2px;
}

/* The audio-------------------------------------------- */

.music {
    display: inline-block;
    vertical-align: baseline; 
    border: 5px;
    padding: 5px;
    margin: 5px;
}

.audio{
    background-color: #cc5200;
    display: inline-block;
    vertical-align: middle; 
    border: 5px;
    padding: 5px;
    margin: 5px;
}

/* The prallax-------------------------------------------- */

.container-fluid {
    max-width: 100%;
    padding-left: 20px;
    max-height: 550px;
    height: auto;
}

.parallax {
    background: url('../pics/1150x750maggie.jpg') no-repeat center;
    min-height: 550px;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0px;
    width: auto;
}

.parallax-two {
    background: url('../pics/1150x750sl.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0px;
    max-height: 650px;
    width: auto;
}

.parallax-three {
    background: url('../pics/1150x750ad.jpg') no-repeat center;
    background-size: cover;
    background-attachment:  fixed;
    background-position: 0 20px;
    height: 550px;
    width: 100%;
}

.parallax-four {
    background: url('../pics/1150x750band4.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0;
    height: 550px;
    width: 100%;
    margin-top: 50px;
}

/* The images------------------------------------------- */

img {
  width: 100%;
  height: auto;
}

/* The text------------------------------------------------------- */

.text{
    padding-top: 15px;
    vertical-align: middle;
}

h1 {
    text-align: center;
    font-size: 3.8vw;
    font-weight: bold;
    font-style: italic;
    color: #404040;
    width: 100%;
    background-color: inherit;
    vertical-align: middle;
}
    
h2 {
    padding-left: 50px;
    font-family: sans-serif;
    font-style: oblique;
    font-stretch: semi-expanded;
    font-size: 2.6vw;
}

h3{
    font-family:serif;
    font-size: 2vw;
    font-weight: bold;
}

h4{
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-size: 1.8vw;
}

p {
    text-align: center;
    font-size: 1.2vw;
    padding: 15px;
    vertical-align: middle;
}

.fa-asterisk{
  color: red;
}

/* The space-------------------------------------------- */

.space{
    height: 60px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 20px;
}

/* The logo-------------------------------------------- */

.blob {
    background: url("../pics/logosm.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90px;
    width: 90px;
    float: right;
    transition: all .5s ease-in-out;
    margin: 20px;
    border: solid 1px;
    border-color: black;
    border-radius: 46px;
    padding: 3px;
   display: block;
   z-index: 500;
}

/* The socioal media icons and fa icons-------------------------------------------- */

.social-icons {
  padding: 0;
  margin-bottom: 10px;
  float: left;
  display: block;
  text-decoration: none;
  background-color: #99b3e6;
  width: 100%;
  min-height: 100px;
  z-index: 2500;
}  

.fa-facebook {
  background-color: #3B5998;
  font-size: 18px;
  color:#f1f1f1;
  border-radius: 1px 18px;
    border-width: 1px;
    width: 50px;
    height: auto;
    padding: 9px;
    margin: 30px;
    text-align: center;
    overflow: auto;
    padding-top: 17px;
}
 
.fa-twitter {
  background-color: #66d9ff;
  font-size: 18px;
  color:#f1f1f1;
  border-radius: 1px 18px;
    border-width: 1px;
    width: 50px;
    height: auto;
    padding: 9px;
    margin: 30px;
    text-align: center;
    overflow: auto;
    padding-top: 17px;
}

.fa-instagram{
background-color: #6666ff;
 font-size: 18px;
  color:#f1f1f1;
  border-radius: 1px 18px;
    border-width: 1px;
    width: 50px;
    height: auto;
    padding: 9px;
    margin: 30px;
    text-align: center;
    overflow: auto;
    padding-top: 17px;
}

.fa-youtube{
background-color: red;
 font-size: 18px;
  color:#f1f1f1;
  border-radius: 1px 18px;
    border-width: 1px;
    width: 50px;
    height: auto;
    padding: 9px;
    margin: 30px;
    text-align: center;
    overflow: auto;
    padding-top: 17px;
}

.fa-picture-o{
    background-color: #3B5998;
     font-size: 18px;
  color:#f1f1f1;
  border-radius: 1px 18px;
    border-width: 1px;
    width: 50px;
    height: auto;
    padding: 9px;
    margin: 30px;
    text-align: center;
    overflow: auto;
    padding-top: 17px;
}

.fa-wikipedia-w{
    background-color: #404040;
     font-size: 18px;
  color:#f1f1f1;
  border-radius: 1px 18px;
    border-width: 1px;
    width: 50px;
    height: auto;
    padding: 9px;
    margin: 30px;
    text-align: center;
    overflow: auto;
    padding-top: 17px;
}

.fa{
  transition: all 0.5s ease-in;
  transition: all 0.5s ease-out;
}

.social-icons :hover{
    background: #000099;
}

/* The tour-------------------------------------------- */

.container-tour{
    width: 100%;
    height: 110px;
    background-color:inherit;
    padding: 0;
    margin-left: 40px;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    color: #f1f1f1;
}
    
.tourinner{
    padding: 0;
    border-radius: 10px;
    height: 85%;
    width: 300px;
    margin: 2px;
    background-color: #9f96cc;
    text-align: center;
    vertical-align: middle;
}    
    
/* The tour button-------------------------------------------- */

.button {
  color: #f1f1f1;
  border-radius: 10px;
  background-color: #0055ff;
  border-color: inherit;
  border: dashed;
  color: #FFFFFF;
  vertical-align: middle;
  font-size: 28px;
  padding: 20px;
  width: 180px;
  height: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.button:hover{
  padding-right: 24px;
  padding-left:8px;
}

.button:hover:after {
  opacity: 1;
  right: 10px;
}

/* The Gallery-------------------------------------------- */

.pics {
  margin: 2px;
  border: 2px dashed #ccc;
  float: left;
  width: 305px;
  height: auto;
  padding: 2px;
}

.pics:hover {
  border: 1px solid #777;
}

.pics img {
  width: 300px;
  height: 180px;
}

.desc {
  padding: 15px;
  text-align: center;
}

.folder{
    padding-top: 80px;
    padding-bottom: 0;
    margin-left: 30px;
}

/* The Table-------------------------------------------- */

.table {
  font-family: arial, sans-serif;
  font-size: 18px;
  border-collapse: collapse;
  width: 100%;
}

.td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.td1{
    font-weight: bold;
}
.th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tr:nth-child(even) {
  background-color: #dddddd;
}

/* The popup modal-------------------------------------------- */

.modalio{
  text-align: center;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for modal buttons */
.button2 {
  background-color: #99b3e6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  border-radius: 1px 18px;
  display: inline-block;
  border: none;
}

.button2:hover {
  opacity:5;
  background-color: #809fff;
  border: none;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 40%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1200; /* Sit on top */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 90%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 20px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 60%;
  }
}

/* The tour button-------------------------------------------- */

.button {
  color: #f1f1f1;
  border-radius: 10px;
  background-color: #0055ff;
  border-color: inherit;
  border: dashed;
  vertical-align: middle;
  font-size: 28px;
  padding: 20px;
  width: 180px;
  height: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.button:hover{
  padding-right: 24px;
  padding-left:8px;
}

.button:hover:after {
  opacity: 1;
  right: 10px;
}

.container2{
  z-index: 2000;
}