/* The Body ---------------------------------------------------- */

body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #d6d6f5;
    padding: 0;
    margin: 0;
    
}


/* The navbar ---------------------------------------------------- */

.item:hover {
  background-color: #990000;
}



.menu-item{
    width: 100%;
    height: 100px;
}



.navbar{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    position: fixed;
    z-index: 1000;
    padding-left: 25px;
    display: block;
}



.item{
    float: left;
    color: #f1f1f1;
    border-style: solid;
    border-color: black;
    border-radius: 1px 18px;
    border-width: 1px;
    width: 60px;
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 80px;
    margin-right: 50px;
    margin-top: 10px;
    background-color: #9999ff;
    text-align: center;
    overflow: auto;
    padding-top: 17px;
    
}

.navbar2{
    margin-left: 55px;
    margin-top: 15px;
    position: fixed;
    z-index: 1200;
    padding-left: 25px;
    display: block;
    
}



    
.navbar-nav li a{
    padding: 3px;
    border-color: black;
    border-radius: 1px 16px;
    border-style: solid;
    border-width: 1px;
    margin: 4px;
    color: #f1f1f1;
    text-decoration: none;
    background-color: #9999ff;
}
    
    
    

.container-fluid {
    padding: 0;
    margin-right: 0;
    margin-left: 10px;
}

.navbar-nav li a:hover{
    background-color: #990000;
}

@media screen and (max-width: 992px) {
.appear{
    display: none;
  }
}

@media screen and (min-width: 992px) {
.navbar2{
    display: none;
  }
}


@media screen and (max-width: 992px) {
.navbar-fixed-bottom{
    display: none;
  }
}

@media screen and (min-width: 992px) {
.navbar-fixed-bottom2{
    display: none;
  }
}







/* The slider------------------------------------------------------------- */

#slider {
    overflow: hidden;
    max-height: 650px;
    background-color: #d6d6f5;


}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
    max-height: 550px;


}

#slider figure img {
    width: 20%;
    float: left;

}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }

}



/* The video-------------------------------------------- */



.iframe-container{
  max-width: 800px;
  max-height: 400px;
  padding: 5px;
  margin: 10px;
  
}



.wrapper{
    margin: 0 auto;
    width: 100%;
    
}

.videowrapper{
   
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.videowrapper iframe{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.iframe{
    
    border: 2px;
}




/* The audio-------------------------------------------- */


.music {
    display: inline-block;
    vertical-align: baseline; 
    border: 5px;
    padding: 5px;
    margin: 5px;
}

.audio{
    background-color: #cc5200;
    display: inline-block;
    vertical-align: middle; 
    border: 5px;
    padding: 5px;
    margin: 5px;
}






/* The prallax-------------------------------------------- */

.container {
    max-width: 100%;
    font-size: 25px;
    padding-left: 30px;
    max-height: 550px;

}

.parallax {

    background: url('assets/pics/1150x750maggie.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0px;
    height: 550px;
    width: 100%;

}


.parallax-two {
    background: url('assets/pics/1150x750sl.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 20px;
    max-height: 650px;
    width: 100%;
}

.parallax-three {
    background: url('/assets/pics/1150x750ad.jpg') no-repeat center;
    background-size: cover;
    background-attachment:  fixed;
    background-position: 0 20px;
    height: 550px;
    width: 100%;

}

.parallax-four {
    background: url('assets/pics/1150x750band4.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0;
    height: 550px;
    width: 100%;
    margin-top: 50px;

}

/* The images------------------------------------------- */

img {
  width: 100%;
  height: auto;
 
}


/* The text------------------------------------------------------- */

.text{
    padding-top: 15px;
    vertical-align: middle;
    
}

h1 {
    text-align: center;
    font-size: 3.8vw;
    font-weight: bold;
    font-style: italic;
    color: #404040;
    width: 100%;
    background-color: inherit;
    vertical-align: middle;
}
    
h2 {
    padding-left: 50px;
    font-family: sans-serif;
    font-style: oblique;
    font-stretch: semi-expanded;
    font-size: 2.6vw;
}

h3{
    font-family:serif;
    font-size: 2vw;
    font-weight: bold;
}

h4{
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-size: 1.8;

}

p {
    text-align: center;
    font-size: 1.2vw;
    padding: 15px;
    vertical-align: middle;
}

/* The space-------------------------------------------- */

.space{
    height: 60px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 20px;
}


/* The logo-------------------------------------------- */

.logo {
    background: url("assets/pics/logosm.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 65px;
    min-width: 65px;
    transition: all .5s ease-in-out;
    margin: 10px;
    border: solid;
    padding: 1px;
    
}

/* The socioal media icons and fa icons-------------------------------------------- */




.fa-facebook {
  background-color: #3B5998;
  font-size: 30px;
 
}

.fa-twitter {
  background-color: #66d9ff;
  font-size: 30px;

}



.fa-instagram{
background-color: #6666ff;
font-size: 30px;
}

.fa-youtube{
background-color: red;
font-size: 30px;

}

.fa-picture-o{
    background-color: #3B5998;
    font-size: 30px;
}

.fa-wikipedia-w{
    background-color: #404040;
    font-size: 30px;
    color: #f1f1f1;
}



/* The tour-------------------------------------------- */

.container-tour{
    width: 100%;
    height: 110px;
    background-color:inherit;
    padding: 0;
    margin-left: 40px;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    color: #f1f1f1;
    
}
    
.tourinner{
    padding: 0;
    border-radius: 10px;
    height: 85%;
    width: 300px;
    margin: 2px;
    background-color: #9f96cc;
    text-align: center;
    vertical-align: middle;

}    
    
    
    
    
/* The tour button-------------------------------------------- */

.button {
  border-radius: 10px;
  background-color: #f4511e;
  border-color: inherit;
  border: dashed;
  color: #FFFFFF;
  vertical-align: middle;
  font-size: 28px;
  padding: 20px;
  width: 180px;
  height: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}




.button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.button:hover{
  padding-right: 24px;
  padding-left:8px;
}

.button:hover:after {
  opacity: 1;
  right: 10px;
}

/* The Gallery-------------------------------------------- */

.pics {
  margin: 2px;
  border: 2px dashed #ccc;
  float: left;
  width: 305px;
  height: auto;
  padding: 2px;
}

.pics:hover {
  border: 1px solid #777;
}

.pics img {
  width: 300px;
  height: 180px;
 
}

.desc {
  padding: 15px;
  text-align: center;
}

.folder{
    padding-top: 80px;
    padding-bottom: 0;
    margin-left: 30px;
}

/* The Table-------------------------------------------- */


.table {
  font-family: arial, sans-serif;
  font-size: 18px;
  border-collapse: collapse;
  width: 100%;
}

.td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.td1{
    font-weight: bold;
}
.th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tr:nth-child(even) {
  background-color: #dddddd;
}

/* The popup-------------------------------------------- */

.box {
  width: 35%;
  margin: 0 auto;
  background: #99b3ff;
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button2 {
  font-size: 1.5em;
  padding: 10px;
  color: #fff;
  border: 2px solid #0039e6;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button2:hover {
  background: #0039e6;
  text-decoration: none;
  color: #f1f1f1;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}


/*------------- Bottom navbar responsive -----------------------*/







